{% extends "base.html" %}

{% block header %}
  {# LEAVE THIS BLANK #}
{% endblock %}

{% block body %}
<div class="grid grid-cols-12">
    <div class="col-span-2 h-screen p-5 border border-red-900">
        {% include "dashboard_nav.html" %}
    </div>
    <div class="col-span-10 border border-red-900">
        <main class="m-5 border border-red-900">
            <p class="text-xl">Edit Post</p>
            {{ test }}
            <div>
                <form method="POST" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.title }}
                    {{ form.body(id="tinymce_editor") }}
                    {{ form.category.label }}
                    <select name="category" id="category">
                        {% for category in form.category.choices %}
                            <option value="{{ category[0] }}" {% if category[0] == post.category_id %}selected{% endif %}>
                                {{ category[1] }}
                            </option>
                        {% endfor %}
                    </select>
                    {{ form.replace_image_picker }}
                    <p id="image-filename"></p>

                    <button type="submit">Save</button>
                    {{ test }}
                </form>

                <button id="trigger-modal">Replace Image</button>
                <img id="preview" class="size-10" src="{{ url_for('main.uploaded_image', filename=post.featured_image)}}">
                {{ form.errors  }}

                <div id="modal" class="fixed left-0 top-0 w-full h-full z-[9999] bg-slate-300/75 hidden">
                    <div class="flex items-center h-full">
                        <div class="modal-content container mx-auto p-10 rounded-md bg-slate-100 shadow-md">
                            <div class="flex justify-between mb-5">
                                <p class="text-2xl text-slate-900">Add Image</p>
                                <button id="close-modal" class="px-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 fill-slate-900">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                            <div id="modal-gallery" class="grid grid-cols-5 h-96 gap-4 overflow-y-auto">
                                <div id="image-container" class="h-40 flex items-center overflow-hidden border border-red-900">
                                    <!--Image Gallery Here-->
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>


            
        </main>
    </div>
</div>
    

    <div id="modal" class="fixed left-0 top-0 w-full h-full z-[9999] bg-slate-300/75 hidden">
        <div class="flex items-center h-full">
            <div class="modal-content container mx-auto p-10 rounded-md bg-slate-100 shadow-md">
                <div class="flex justify-between mb-5">
                    <p class="text-2xl text-slate-900">Add Image</p>
                    <button id="close-modal" class="px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 fill-slate-900">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div id="modal-gallery" class="grid grid-cols-5 h-96 gap-4 overflow-y-auto">
                    <div id="image-container" class="h-40 flex items-center overflow-hidden border border-red-900">
    
                    </div>
                    <!--https://gratisography.com/wp-content/uploads/2024/01/gratisography-cyber-kitty-1170x780.jpg-->
                </div>
            </div>
        </div>
    </div>
    <p><img id="preview-image" src="" alt=""></p>
{% endblock %}


{% block footer %}
  {# LEAVE THIS BLANK #}
{% endblock %}

{% block script %}
<script>
    const triggerBtn = document.querySelector("#trigger-modal");
    triggerBtn.addEventListener("click", openImageModal)

    function openImageModal() {
            document.querySelector("#modal").style.display = "block";
            fetchImages(); // Fetch images from your server
    }
    
    function closeModal() {
        document.querySelector("#modal").style.display = "none";
    }

    const closeButton = document.querySelector("#close-modal");

    if(closeButton){
        closeButton.addEventListener("click", (e)=>{
            e.stopPropagation();
            closeModal();
        })
    }
        
    async function fetchImages() {
        try {
            const response = await fetch("{{ url_for('main.get_images')}}", {
                method: "GET",
                headers: {
                    "Content-Type" : "application/json"
                }
            });
            if (response.ok){
                const data = await response.json();

                const gallery = document.querySelector("#modal-gallery");
                gallery.innerHTML = ""; // Clear previous images
                data.images.forEach(image => {
                    const imgContainer = document.createElement("div");
                    imgContainer.className = "h-40 flex items-center overflow-hidden";

                    const img = document.createElement("img");
                    img.className = "w-full h-full object-cover";
                    img.src = image.url; // Assuming the image object has a URL property

                    const fileInput = document.querySelector("#replace_image_picker");

                    img.addEventListener("click", ()=>{
                        const filename = image.url.split('/').pop();
                        fileInput.value = filename; // Set the hidden input value with the filename
                        const previewFilename = document.querySelector("#image-filename");
                        const preview = document.querySelector("#preview");
                        preview.src = "" // Clear the previous URL
                        previewFilename.textContent = fileInput.value;
                        const text = previewFilename.textContent
                        preview.src = "{{ url_for('main.uploaded_image', filename=text) }}".concat(text)
                        console.log(previewFilename)
                        console.log(fileInput)
                        console.log(preview.src)

                        closeModal();
                    })
                    imgContainer.appendChild(img);
                    gallery.appendChild(imgContainer);
                })
                
            }
        } catch (error) {
            console.log({"Error": error})
        }
    }
</script>
{% endblock %}