{% extends "base.html" %}

{% block body %}
<main>
    <section class="h-64 mb-20 border-b-4 border-slate-900 bg-slate-200 overflow-hidden">
    </section>


    <div class="container max-w-screen-xl mx-auto px-8">
        <div class="grid grid-cols-1 md:grid-cols-12 md:gap-10">
            <div class="col-span-8 mb-10">
                <article>
                    <p class="my-3 uppercase">{{ post.c_posts.name}}</p>
                    <h1 class="mb-3 text-5xl font-bold">{{ post.title }}</h1>
                    <p class="mb-10"><i>By {{ post.u_posts.username }}</i></p>
                    <section id="single-post-format">
                        {{ post.body | safe }}
                    </section>
                </article>
            </div>   
            
            <!-----Sidebar----->
            <aside class="col-span-4 md:pl-10 md:border-l-2 md:border-slate-200">
                {% include "subscribe.html" %}
            </aside>
        </div>  
    </div>

</main>
{% endblock %}