{% extends "base.html" %}

{% block body %}
<main>
    <section class="h-64 border-b-4 border-slate-900 bg-slate-200 overflow-hidden">
    </section>


    <div class="container max-w-screen-xl mx-auto px-8">
        <div class="grid grid-cols-1">
            <div class="col-span-8 mb-10 border">
                <article>
                    <p class="my-3 uppercase">{{ post.c_posts.name}}</p>
                    <h1 class="text-3xl">{{ post.title }}</h1>
                    <p class="my-3"><i>By {{ post.u_posts.username }}</i></p>
                    <section>
                        {{ post.body | safe }}
                    </section>
                </article>
            </div>   
            
            <!-----Sidebar----->
            <aside class="col-span-4 md:pl-10 md:border-l-2 md:border-slate-200">
                {% include "subscribe.html" %}
            </aside>
        </div>  
    </div>

</main>
{% endblock %}