{% extends "base.html" %}

{% block body %}
  <form action="{{ url_for('auth.signup') }}" method="POST" novalidate>
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username }} {{ form.username.errors[0] }}
    {{ form.password.label }} {{ form.password }} {{ form.password.errors[0] }}
    {{ form.confirm_password.label }} {{ form.confirm_password }} {{ form.confirm_password.errors[0] }}
    {{ form.email.label }} {{ form.email }} {{ form.email.errors[0] }}
    {{ form.recaptcha }} {{ form.recaptcha.errors[0] }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
